[submodule ".registry"]
	path = .registry
	url = https://github.com/fastverse/fastverse.r-universe.dev
	branch = HEAD
[submodule "JuliaCall"]
	path = JuliaCall
	url = https://github.com/Non-Contradiction/JuliaCall
[submodule "JuliaConnectoR"]
	path = JuliaConnectoR
	url = https://github.com/stefan-m-lenz/JuliaConnectoR
[submodule "MatrixExtra"]
	path = MatrixExtra
	url = https://github.com/david-cortes/MatrixExtra
[submodule "Rcpp"]
	path = Rcpp
	url = https://github.com/RcppCore/Rcpp
[submodule "RcppAlgos"]
	path = RcppAlgos
	url = https://github.com/jwood000/RcppAlgos
[submodule "Rfast"]
	path = Rfast
	url = https://github.com/RfastOfficial/Rfast
[submodule "Rfast2"]
	path = Rfast2
	url = https://github.com/RfastOfficial/Rfast2
[submodule "SLmetrics"]
	path = SLmetrics
	url = https://github.com/serkor1/SLmetrics
[submodule "XRJulia"]
	path = XRJulia
	url = https://github.com/johnmchambers/XRJulia
[submodule "anytime"]
	path = anytime
	url = https://github.com/eddelbuettel/anytime
[submodule "armacmp"]
	path = armacmp
	url = https://github.com/dirkschumacher/armacmp
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	subdir = r
[submodule "ast2ast"]
	path = ast2ast
	url = https://github.com/Konrad1991/ast2ast
[submodule "broadcast"]
	path = broadcast
	url = https://github.com/tony-aw/broadcast
[submodule "cheapr"]
	path = cheapr
	url = https://github.com/NicChr/cheapr
[submodule "clock"]
	path = clock
	url = https://github.com/r-lib/clock
[submodule "collapse"]
	path = collapse
	url = https://github.com/SebKrantz/collapse
[submodule "collections"]
	path = collections
	url = https://github.com/randy3k/collections
[submodule "coop"]
	path = coop
	url = https://github.com/wrathematics/coop
[submodule "cpp11"]
	path = cpp11
	url = https://github.com/r-lib/cpp11
[submodule "cppRouting"]
	path = cppRouting
	url = https://github.com/vlarmet/cppRouting
[submodule "data.table"]
	path = data.table
	url = https://github.com/Rdatatable/data.table
[submodule "dggridR"]
	path = dggridR
	url = https://github.com/SebKrantz/dggridR
[submodule "dqrng"]
	path = dqrng
	url = https://github.com/daqana/dqrng
[submodule "dtplyr"]
	path = dtplyr
	url = https://github.com/tidyverse/dtplyr
[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	subdir = tools/rpkg
[submodule "duckplyr"]
	path = duckplyr
	url = https://github.com/tidyverse/duckplyr
[submodule "exactextractr"]
	path = exactextractr
	url = https://github.com/isciences/exactextractr
[submodule "fastmap"]
	path = fastmap
	url = https://github.com/r-lib/fastmap
[submodule "fastmatch"]
	path = fastmatch
	url = https://github.com/s-u/fastmatch
[submodule "fastmatrix"]
	path = fastmatrix
	url = https://github.com/faosorios/fastmatrix
	subdir = pkg
[submodule "fastplyr"]
	path = fastplyr
	url = https://github.com/NicChr/fastplyr
[submodule "fasttime"]
	path = fasttime
	url = https://github.com/s-u/fasttime
[submodule "fastverse"]
	path = fastverse
	url = https://github.com/fastverse/fastverse
[submodule "fixest"]
	path = fixest
	url = https://github.com/lrberge/fixest
[submodule "fst"]
	path = fst
	url = https://github.com/fstpackage/fst
[submodule "geodist"]
	path = geodist
	url = https://github.com/hypertidy/geodist
[submodule "geos"]
	path = geos
	url = https://github.com/paleolimbot/geos
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
[submodule "ggrastr"]
	path = ggrastr
	url = https://github.com/VPetukhov/ggrastr
[submodule "hutilscpp"]
	path = hutilscpp
	url = https://github.com/hughparsonage/hutilscpp
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
[submodule "inline"]
	path = inline
	url = https://github.com/eddelbuettel/inline
[submodule "kit"]
	path = kit
	url = https://github.com/fastverse/kit
[submodule "lattice"]
	path = lattice
	url = https://github.com/deepayan/lattice
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
[submodule "maditr"]
	path = maditr
	url = https://github.com/gdemin/maditr
[submodule "magrittr"]
	path = magrittr
	url = https://github.com/tidyverse/magrittr
[submodule "matrixStats"]
	path = matrixStats
	url = https://github.com/HenrikBengtsson/matrixStats
[submodule "matrixTests"]
	path = matrixTests
	url = https://github.com/karoliskoncevicius/matrixTests
[submodule "mirai"]
	path = mirai
	url = https://github.com/shikokuchuo/mirai
[submodule "nCompiler"]
	path = nCompiler
	url = https://github.com/nimble-dev/nCompiler
[submodule "nanotime"]
	path = nanotime
	url = https://github.com/eddelbuettel/nanotime
[submodule "odin"]
	path = odin
	url = https://github.com/mrc-ide/odin
[submodule "parallelDist"]
	path = parallelDist
	url = https://github.com/alexeckert/parallelDist
[submodule "polars"]
	path = polars
	url = https://github.com/pola-rs/r-polars
[submodule "qs"]
	path = qs
	url = https://github.com/traversc/qs
[submodule "quickr"]
	path = quickr
	url = https://github.com/t-kalinowski/quickr
[submodule "r2c"]
	path = r2c
	url = https://github.com/brodieG/r2c
[submodule "rJava"]
	path = rJava
	url = https://github.com/s-u/rJava
[submodule "rextendr"]
	path = rextendr
	url = https://github.com/extendr/rextendr
[submodule "rlang"]
	path = rlang
	url = https://github.com/r-lib/rlang
	registered = false
[submodule "roll"]
	path = roll
	url = https://github.com/jasonjfoster/roll
[submodule "rrapply"]
	path = rrapply
	url = https://github.com/JorisChau/rrapply
[submodule "s2"]
	path = s2
	url = https://github.com/r-spatial/s2
[submodule "scales"]
	path = scales
	url = https://github.com/r-lib/scales
[submodule "scattermore"]
	path = scattermore
	url = https://github.com/exaexa/scattermore
[submodule "sf"]
	path = sf
	url = https://github.com/r-spatial/sf
[submodule "snakecase"]
	path = snakecase
	url = https://github.com/Tazinho/snakecase
[submodule "stars"]
	path = stars
	url = https://github.com/r-spatial/stars
[submodule "stdvectors"]
	path = stdvectors
	url = https://github.com/digEmAll/stdvectors
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	subdir = pkg
[submodule "stringfish"]
	path = stringfish
	url = https://github.com/traversc/stringfish
[submodule "stringi"]
	path = stringi
	url = https://github.com/gagolews/stringi
[submodule "table.express"]
	path = table.express
	url = https://github.com/asardaes/table.express
[submodule "terra"]
	path = terra
	url = https://github.com/rspatial/terra
[submodule "tidyCpp"]
	path = tidyCpp
	url = https://github.com/eddelbuettel/tidycpp
[submodule "tidyfast"]
	path = tidyfast
	url = https://github.com/TysonStanley/tidyfast
[submodule "tidyfst"]
	path = tidyfst
	url = https://github.com/hope-data-science/tidyfst
[submodule "tidyft"]
	path = tidyft
	url = https://github.com/hope-data-science/tidyft
[submodule "tidypolars"]
	path = tidypolars
	url = https://github.com/etiennebacher/tidypolars
[submodule "tidytable"]
	path = tidytable
	url = https://github.com/markfairbanks/tidytable
[submodule "timechange"]
	path = timechange
	url = https://github.com/vspinu/timechange
[submodule "timeplyr"]
	path = timeplyr
	url = https://github.com/NicChr/timeplyr
[submodule "tinyplot"]
	path = tinyplot
	url = https://github.com/grantmcdermott/tinyplot
[submodule "vctrs"]
	path = vctrs
	url = https://github.com/r-lib/vctrs
[submodule "vroom"]
	path = vroom
	url = https://github.com/tidyverse/vroom
[submodule "xts"]
	path = xts
	url = https://github.com/joshuaulrich/xts
[submodule "zoo"]
	path = zoo
	url = https://github.com/r-forge/zoo
