[submodule ".registry"]
	path = .registry
	url = https://github.com/fastverse/universe
	shallow = true
	branch = HEAD
[submodule "fastverse"]
	path = fastverse
	url = https://github.com/fastverse/fastverse
	shallow = true
	registered = true
[submodule "collapse"]
	path = collapse
	url = https://github.com/SebKrantz/collapse
	shallow = true
	registered = true
[submodule "data.table"]
	path = data.table
	url = https://github.com/Rdatatable/data.table
	shallow = true
	registered = true
[submodule "matrixStats"]
	path = matrixStats
	url = https://github.com/HenrikBengtsson/matrixStats
	shallow = true
	registered = true
[submodule "kit"]
	path = kit
	url = https://github.com/2005m/kit
	shallow = true
	registered = true
[submodule "magrittr"]
	path = magrittr
	url = https://github.com/tidyverse/magrittr
	shallow = true
	registered = true
[submodule "fst"]
	path = fst
	url = https://github.com/fstpackage/fst
	shallow = true
	registered = true
[submodule "xts"]
	path = xts
	url = https://github.com/joshuaulrich/xts
	shallow = true
	registered = true
[submodule "roll"]
	path = roll
	url = https://github.com/jjf234/roll
	shallow = true
	registered = true
[submodule "Rfast"]
	path = Rfast
	url = https://github.com/RfastOfficial/Rfast
	shallow = true
	registered = true
[submodule "qs"]
	path = qs
	url = https://github.com/traversc/qs
	shallow = true
	registered = true
[submodule "fixest"]
	path = fixest
	url = https://github.com/lrberge/fixest
	shallow = true
	registered = true
[submodule "lubridate"]
	path = lubridate
	url = https://github.com/tidyverse/lubridate
	shallow = true
	registered = true
[submodule "anytime"]
	path = anytime
	url = https://github.com/eddelbuettel/anytime
	shallow = true
	registered = true
[submodule "nanotime"]
	path = nanotime
	url = https://github.com/eddelbuettel/nanotime
	shallow = true
	registered = true
[submodule "fasttime"]
	path = fasttime
	url = https://github.com/s-u/fasttime
	shallow = true
	registered = true
[submodule "clock"]
	path = clock
	url = https://github.com/r-lib/clock
	shallow = true
	registered = true
[submodule "timechange"]
	path = timechange
	url = https://github.com/vspinu/timechange
	shallow = true
	registered = true
[submodule "stringi"]
	path = stringi
	url = https://github.com/gagolews/stringi
	shallow = true
	registered = true
[submodule "stringr"]
	path = stringr
	url = https://github.com/tidyverse/stringr
	shallow = true
	registered = true
[submodule "snakecase"]
	path = snakecase
	url = https://github.com/Tazinho/snakecase
	shallow = true
	registered = true
[submodule "stringfish"]
	path = stringfish
	url = https://github.com/traversc/stringfish
	shallow = true
	registered = true
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	shallow = true
	subdir = pkg
	registered = true
[submodule "Rfast2"]
	path = Rfast2
	url = https://github.com/RfastOfficial/Rfast2
	shallow = true
	registered = true
[submodule "parallelDist"]
	path = parallelDist
	url = https://github.com/alexeckert/parallelDist
	shallow = true
	registered = true
[submodule "coop"]
	path = coop
	url = https://github.com/wrathematics/coop
	shallow = true
	registered = true
[submodule "rsparse"]
	path = rsparse
	url = https://github.com/rexyai/rsparse
	shallow = true
	registered = true
[submodule "MatrixExtra"]
	path = MatrixExtra
	url = https://github.com/david-cortes/MatrixExtra
	shallow = true
	registered = true
[submodule "rrapply"]
	path = rrapply
	url = https://github.com/JorisChau/rrapply
	shallow = true
	registered = true
[submodule "tidytable"]
	path = tidytable
	url = https://github.com/markfairbanks/tidytable
	shallow = true
	registered = true
[submodule "fastmatch"]
	path = fastmatch
	url = https://github.com/s-u/fastmatch
	shallow = true
	registered = true
[submodule "fastmap"]
	path = fastmap
	url = https://github.com/r-lib/fastmap
	shallow = true
	registered = true
