[submodule ".registry"]
	path = .registry
	url = https://github.com/fastverse/universe
	shallow = true
	branch = HEAD
[submodule "fastverse"]
	path = fastverse
	url = https://github.com/SebKrantz/fastverse
	shallow = true
	registered = true
[submodule "collapse"]
	path = collapse
	url = https://github.com/SebKrantz/collapse
	shallow = true
	registered = true
[submodule "data.table"]
	path = data.table
	url = https://github.com/Rdatatable/data.table
	shallow = true
	registered = true
[submodule "matrixStats"]
	path = matrixStats
	url = https://github.com/HenrikBengtsson/matrixStats
	shallow = true
	registered = true
[submodule "kit"]
	path = kit
	url = https://github.com/2005m/kit
	shallow = true
	registered = true
[submodule "magrittr"]
	path = magrittr
	url = https://github.com/tidyverse/magrittr
	shallow = true
	registered = true
[submodule "fst"]
	path = fst
	url = https://github.com/fstpackage/fst
	shallow = true
	registered = true
[submodule "xts"]
	path = xts
	url = https://github.com/joshuaulrich/xts
	shallow = true
	registered = true
[submodule "roll"]
	path = roll
	url = https://github.com/jjf234/roll
	shallow = true
	registered = true
[submodule "Rfast"]
	path = Rfast
	url = https://github.com/RfastOfficial/Rfast
	shallow = true
	registered = true
[submodule "qs"]
	path = qs
	url = https://github.com/traversc/qs
	shallow = true
	registered = true
[submodule "fixest"]
	path = fixest
	url = https://github.com/lrberge/fixest
	shallow = true
	registered = true
